{# VARIABLES PARA FORMATO DE MASTER-CONTENIDO.TWIG #}
{% set url_atras = '#' %}
{% set i_class_titulo = 'fa fa-gear fa-fw' %}
{% set titulo = 'Crear organismo publico' %}

{# VARIABLES DE LA VISTA #}

{# ---------------------- #}

{% extends "admin/master-admin.twig" %}

{% block titulo %}
Virtuagora - Crear organismo publico
{% endblock %}

{% block contenido %}
<section id="formulario">
    <form action="" method="POST">
        <div class="row">
            <div class="large-10 large-centered columns clearfix">
                <div class="large-2 columns text-left left" >
                    <img src="http://placehold.it/90x90">
                </div>
                <div class="large-10 columns right inline">
                    <label><h6 class="subheader"><i class="fa fa-pencil fa-fw"></i>&nbsp;&nbsp;<b>Nombre del organismo publico</b></h6>
                        <input type="text" name="nombre">
                    </label>
                </div>
            </div>
        </div>
        <div class="row"><div class="large-10 large-centered columns"><p></p></div></div>
        <div class="row">
            <div class="large-10 large-centered columns">
                <label><h6 class="subheader"><i class="fa fa-file-text-o fa-fw"></i>&nbsp;&nbsp;<b>Descripcion del organismo</b></h6>
                    <textarea name="descripcion" rows=4></textarea>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-10 large-centered columns">
                <div class="row collapse clearfix">
                    <div class="small-6 large-4 columns">
                        <span class="prefix">
                            &nbsp;<i class="fa fa-caret-right fa-fw"></i>&nbsp;<b>Cupos para funcionarios</b>
                        </span>
                    </div>
                    <div class="small-2 large-3 end columns">
                        <input type="number" name="cupo" placeholder="Ingrese un numero">
                    </div>
                    <div class="large-2 large-centered right columns">
                        <button type="submit" class="button small expand"><i class="fa fa-plus fa-fw"></i>&nbsp;Crear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

{% endblock %}

{% block script %}

{% endblock %}
