{# VARIABLES PARA FORMATO DE MASTER-BODY.TWIG #}
{% set url_atras = '#' %}
{% set i_class_titulo = 'fa fa-gear fa-fw' %}
{% set titulo = 'Crear organismo publico' %}
{% set comments = false %}

{# VARIABLES DE LA VISTA #}

{# ---------------------- #}

{% extends "master-body.twig" %}

{% block titulo %}
Virtuagora - Crear organismo publico
{% endblock %}

{% block contenido %}
<section id="formulario">
    <form action="{{ urlFor('runCrearOrganis') }}" method="POST">
        <div class="row">
            <div class="large-10 large-centered columns clearfix">
                <div class="large-3 columns text-left left" >
                    <img src="http://placehold.it/160x160">
                </div>
                <div class="large-9 columns right inline">
                    <label style="margin-bottom: 15px;"><h6 class="subheader"><i class="fa fa-pencil fa-fw"></i>&nbsp;&nbsp;<b>Nombre del organismo publico</b></h6>
                        <input type="text" name="nombre">
                    </label>
                    <div class="row collapse clearfix">
                        <div class="large-5 columns">
                            <span class="prefix">
                                &nbsp;<i class="fa fa-caret-right fa-fw"></i>&nbsp;<b>Cupos para funcionarios</b>
                            </span>
                        </div>
                        <div class="large-4 end columns">
                            <input type="number" name="cupo" placeholder="Ingrese un número">
                        </div>
                    </div>
                    <div class="row collapse clearfix">
						<div class="large-12 columns">
							<div class="panel text-center" style="padding:10px;">
								<i class="fa fa-warning fa-lg fa-fw left"></i>
								<p style="font-size:12px;">Nota: Podrá subir una imagen luego de haber creado el partído</p>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="large-10 large-centered columns">
                <label><h6 class="subheader"><i class="fa fa-file-text-o fa-fw"></i>&nbsp;&nbsp;<b>Descripción del organismo</b></h6>
                    <textarea name="descripcion" rows=4></textarea>
                </label>
            </div>
        </div>
        <div class="row">
			<div class="large-10 large-centered columns">
				<div class="row collapse clearfix">
					<div class="large-4 columns">
						<span class="prefix">
							&nbsp;<i class="fa fa-caret-right fa-fw"></i>&nbsp;<b>Pagina web</b>
						</span>
					</div>
					<div class="large-8 end columns">
						<input type="text" name="url" placeholder="Ej: http://www.google.com">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-10 large-centered columns">
				<div class="row collapse clearfix">
					<div class="large-4 columns">
						<span class="prefix">
							&nbsp;<i class="fa fa-caret-right fa-fw"></i>&nbsp;<b>Email</b>
						</span>
					</div>
					<div class="large-8 end columns">
						<input type="text" name="email" placeholder="Ej: ejemplo@servidor.com">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-10 large-centered columns">
				<div class="row collapse clearfix">
					<div class="large-4 columns">
						<span class="prefix">
							&nbsp;<i class="fa fa-caret-right fa-fw"></i>&nbsp;<b>Teléfono</b>
						</span>
					</div>
					<div class="large-8 end columns">
						<input type="text" name="telefono" placeholder="(0342) 452-XXXX">
					</div>
				</div>
			</div>
		</div>
        <hr>
        <div class="row">
			<div class="large-5 large-centered columns text-center">
				<button type="submit" class="button radius small success"><i class="fa fa-plus fa-fw"></i>&nbsp;Crear organismo público</button>
			</div>
		</div>
    </form>
</section>

{% endblock %}

{% block script %}

{% endblock %}
