<section id="barra-nav">
    <div class="contain-to-grid">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1>
                        <a class="logo-font" href="#">
                            Virtuagora
                        </a>
                    </h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    {% if user is not empty %}
                    <li class="divider"></li>
                    <li class="has-dropdown menu-icon">
                       <!-- <a href="#">Menú<img src="{{ user.imagen}}" alt="profile image"> -->
                        <a href="#">Menú<img src="http://lorempixel.com/128/128/people/4" alt="profile image">
                        </a>
                        <ul class="dropdown">
                            <li><a href="#">Ver Perfil</a></li>
                            <li><a href="#">Configuración</a></li>
                            <li class="has-form">
                                <form action="{{ baseUrl }}/logout" method="POST">
                                    <input type="submit" class="button alert" value="Cerrar sesion">
                                </form>
                            </li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="divider"></li>
                    <li class="has-form">
                        <a href="#" data-reveal-id="login-modal" class="button">Login</a>
                    </li>
                    {% endif %}
                    <li class="divider"></li>
                </ul>


                {% if user is not empty %}
                <!-- Left Nav Section -->
                <ul class="left">
                    <li class="divider"></li>
                    <li><a href="#">¡Bienvenido <b>{{ user.nombre }}</b>!</a></li>
                </ul>
                {% endif %}
            </section>

        </nav>
    </div>
</section>


<div id="login-modal" class="reveal-modal remove-whitespace small" data-reveal>
    {% include "login/login-modal.twig" %}
</div>
