<section id="barra-nav">
    <footer>
        <div class="panel">
            <div class="row">
                <div class="medium-6 large-6 columns "><p>© Virtuagora <small>2015</small></p></div>
                <div class="medium-6 large-6 columns">
                    <ul class="inline-list right">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Iniciar Sesion</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</section>
