.listar-organismos, .listar-funcionarios, .listar-usuarios, .listar-patrullas{
    .sub-nav{
        margin-bottom: 5px;
        dt, dd{
            font-size: rem-calc(11);
        }
        dd:hover{
            background-color: #fcf6d9;
        }
    }
    .tabla-org, .tabla-funcionarios, .tabla-usuarios, .tabla-usuarios-verificar, .tabla-patrullas{
        width: 100%;
        thead tr th{
            font-size: rem-calc(13);
            font-weight: 400;
            padding: 5px 10px;
            background-color: #e3e3e3;
            .titulo{
                width: 70%;
            }
        }
        tr:nth-of-type(even){
            background-color: #f5f5f5;
        }
        tr:hover{
            background-color: #fcf6d9;
        }
        td{
            img{
                width: 20px;
                height: 20px;
            }
            font-size: rem-calc(13);
            letter-spacing: -0.3px;
            padding: 3px 10px;
            .button{
                margin: 0;
                font-size: rem-calc(15);
                padding: 2px 5px;
            }
        }
    }
}

.crear-organismo{
    .cambiar-avatar{
        min-height: 180px;
        img{
            margin: 10px 15px
        }
        .fileUpload {
            margin: 30px 15px;
            position: relative;
            overflow: hidden;
        }
        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 150px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }
}

.ajustes-plataforma, .poderes-patrulla{
    .titulo h5{
        margin: 0;
        letter-spacing: -0.5px;
    }
    .descripcion{
        font-size: rem-calc(12);
        letter-spacing: -0.5px;
    }

}

.verificar-usuarios{
    .titulo h4{
        letter-spacing: -0.5px;
    }
    .explicacion.panel{
        letter-spacing: -0.5px;
        font-size: rem-calc(14);
        padding: 6px;
    }
    hr{
        margin: 0 0 8px 0;
    }
}

.listar-patrullas{
     .explicacion.panel{
        letter-spacing: -0.5px;
        font-size: rem-calc(14);
        padding: 6px;
    }
    .etiqueta{
        .nombre{
            font-size: rem-calc(14);
            font-weight: bold;
        }
        .descripcion{
            font-size: rem-calc(12);
        }
    }
    .editable{
        input, textarea{
            margin-bottom: 0;
            border: 0;
            box-shadow: none;
            color: #222222;
        }
        input[name='nombre']{
            border-top: 1px solid #eaeaea;
            border-right: 1px solid #eaeaea;
            border-left: 1px solid #eaeaea;
            font-weight: bold;
            height: 25px;
            padding: 0;
            font-size: rem-calc(14);
        }
        textarea[name='descripcion']{
            border-bottom: 1px solid #eaeaea;
            border-right: 1px solid #eaeaea;
            border-left: 1px solid #eaeaea;
            resize: none;
            min-height: 20px;
            padding: 0;
            font-size: rem-calc(12);
        }
    }
}
