// CREAR

.crear-contenido{
    .panel-crear-cont{
        @media only screen and (min-width: 64.063em) {
            .datos-evento{
                margin-right: 10%;
            }
        }
        .cuerpo-cont{
            textarea[name=cuerpo]{
                min-height: 0;
                resize: vertical;
            }
        }
        .wrapper-fecha{
            h2{
                margin: 0;
            }
            border: 1px solid #C0C0C0;
            border-radius: 4px;
            padding: 15px;
            margin: 10px auto 15px;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        }
        .muestra-tiempo input{
            margin: 0;
            box-shadow: none;
            border: 0;
            text-align: center;
              height: 40px;
            font-size: rem-calc(30);
            padding: 0;
            &:focus{
                background-color: #fcf6d9;
            }
        }
        .ui-datepicker{
            font-family: "Source Sans Pro",sans-serif !important;
            font-style: normal;
            display: inline-block !important;
            font-size: rem-calc(12) !important;
            text-rendering: optimizelegibility;
            color: #383838;
            border: 0px solid #484848;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
            text-align: center;
            resize: none;
            margin: 0 !important;
            &:focus{
                background-color: #fff4c4;
                outline: 0;
            }
        }
    }
}

#ui-datepicker-div{
    font-size: rem-calc(13);
}
