#introduction{
    #header {
        background: image-url("bg.jpg") no-repeat center bottom;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-bottom: 1px;
        img {
            padding: rem-calc(50px) rem-calc(30px) 0 0;
        }
        .panel{
            background-color: rgba(44, 108, 229, 0.2);
            border-radius: 5px;
            border: 0;
            padding: 10px 0 0 0;
        }
        p {
            color: #FFFFFF;
            margin-top: rem-calc(15px);
            i {
                color: #FFFFFF;
                font-size: rem-calc(40px);
                padding: rem-calc(15px);
            }
        }
        .button{
            color: #FFFFFF;
            border-color: #FFFFFF;
            background-color: rgba(44, 108, 229, 0.4);
            &:hover {
                background-color: rgba(44, 108, 229, 1);
            }
        }
    }


    .pre-registro {
        padding: rem-calc(40px) 0;
        background: image-url("pre-registro-bg.jpg") no-repeat center bottom;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-bottom: 1px;
        color: #FFFFFF !important;
        .titulo h1{
            font-size: rem-calc(60);
        }
        .descripcion{
            h1{
                color: #FFFFFF;
                font-size: rem-calc(55);
                line-height: rem-calc(65);
                margin-bottom: 15px;
            }
            p:first-of-type{
                font-size: rem-calc(22);
                line-height: rem-calc(30);
                margin-bottom: 10px;
            }
        }
        form {
            padding: 20px 50px 0 50px;
            input{
                margin: 0 0 10px 0;
                padding: 10px;
                font-size: 16px;
                border-radius: 5px;
            }
            button{
                margin: 15px 0;
                color: #FFFFFF;
                background-color: rgba(67, 172, 106, 0.5);
            }
            p{
                font-size: rem-calc(12);
                color: #aaaaaa;
            }
        }
    }

    .features{
        .fila{
            padding: rem-calc(40px) 0;
            margin-bottom: 1px;
            .izquierdo, .derecho{
                .icono, .contenido{
                    position: relative;
                    i {
                        vertical-align: top;
                    }
                }
                .icono{
                    height: 0;
                }
            }
            .izquierdo{
                .icono{
                    float: left;
                    display: block;
                    z-index: 10;
                }
                .contenido{
                    display: block;
                    margin: 0 0 0 150px;
                    padding: 0 0 0 30px;
                    border-left: 1px dashed #FFFFFF;
                }
            }
            .derecho{
                .icono{
                    float: right;
                    display: block;
                    z-index: 10;
                }
                .contenido{
                    display: block;
                    margin: 0 150px 0 0;
                    padding: 0 30px 0 0;
                    border-right: 1px dashed #FFFFFF;
                }
            }
        }

        .que-es{
            color: #fff;
            background-color: #3a89c9;
            i.flaticon::before{
                font-size: rem-calc(187);
                margin: 0;
                position: absolute;
                top: -15px;
                left: -60px;
            }
            .contenido{
                h1, p{
                    color: #fff;
                    letter-spacing: -1px;
                }
                p {
                    text-align: justify;
                    font-size: rem-calc(14);
                    letter-spacing: -0.2px;
                }
            }
        }
        .extra-1, .extra-2, .extra-3, .extra-4, .extra-5{
            color: #fff;
            min-height: 300px;
            .contenido{
                h1, p{
                    color: #fff;
                    letter-spacing: -1px;
                }
                p {
                    text-align: justify;
                    font-size: rem-calc(14);
                    letter-spacing: -0.2px;
                }
            }
        }
        .extra-1 {
            background-color: #848484;
            .icono{
                i.flaticon::before{
                    font-size: rem-calc(130);
                    margin: 0;
                }
            }
        }
        .extra-2 {
            background-color: $partido-color;
            .icono{
                i.flaticon::before{
                    font-size: rem-calc(130);
                    margin: 0;
                }
            }
        }
        .extra-3 {
            background-color: $problematica-color;
            .icono{
                i.flaticon::before{
                    font-size: rem-calc(130);
                    margin: 0;
                }
            }
        }
        .extra-4 {
            background-color: $documento-color;
            .icono{
                i.flaticon::before{
                    font-size: rem-calc(130);
                    margin: 0;
                }
            }
        }
        .extra-5 {
            background-color: $propuesta-color;
            .icono{
                i.flaticon::before{
                    font-size: rem-calc(130);
                    margin: 0;
                }
            }
        }
    }

    .spotlight{
        padding: 40px 0px;
        .titulo{
            h1{
                margin-bottom: 50px;
                letter-spacing: -2px;
            }
        }
        .espaciado-abajo{
            margin-bottom: 45px;
        }
        .herramienta-wrapper{
            .herramienta-icono{
                margin-bottom: 20px;
                i.flaticon::before{
                    border: 1px solid #E5E5E5;
                    border-radius: 50px;
                    margin: 0;
                    padding: 25px;
                    font-size: rem-calc(48);
                }
                i.h-propuesta.flaticon::before{
                    color: $propuesta-color !important;
                }
                i.h-problematica.flaticon::before{
                    color: $problematica-color !important;
                }
                i.h-documento.flaticon::before{
                    color: $documento-color !important;
                }
                i.h-evento.flaticon::before{
                    color: $evento-color !important;
                }
                i.h-anuncio.flaticon::before{
                    color: $novedad-color !important;
                }

            }
            .herramienta-titulo{
                h3{
                    letter-spacing: -1px;
                }
            }
            .herramienta-descripcion{
                padding: 0 30px;
                font-size: rem-calc(13);
                letter-spacing: -0.5px;
                color: #848484;
            }
        }
    }

    .final{
        margin-bottom: 1px;
        padding: 200px 0px;
            background: image-url("pre-registro-bg.jpg") no-repeat center bottom;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            .boton-final{
                font-size: rem-calc(40);
                padding: 15px 80px;
                letter-spacing: -1px;
            }
        }



}
