.error-bg {
    background: image-url('error-bg.jpg',false,false) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
