// CREAR
.crear-contenido{
    .panel-crear-cont{
        .asociar-partido-row{
            margin-top: 40px;
            .asociar-partido{
                position: relative;
                float: left;
                left: 15px;
            }
            .descripcion{
                margin-left: 75px;
                p{
                    font-size: rem-calc(14);
                    line-height: normal;
                    margin: 0;
                    padding-top: 4px;
                }
            }
        }
    }
}

.vista-cuerpo-cont.corto{
    .novedad-texto{
        padding: 30px;
        font-family: 'Lora', serif;
        font-weight: 400;
        font-size: rem-calc(18px);
        line-height: rem-calc(30px);
        h1, h2, h3, h4, h5, h6{
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 700;
        }
    }
}
