.jefe-panel{
    .panel-izq{
        ul.opciones{
            li.datos-partido{
                min-height: 95px;
                img{
                    position: relative;
                    float: left;
                }
                p{
                    margin-left: 75px;
                    margin-bottom: 0;
                    font-size: rem-calc(14);
                }
            }
        }
    }

}
