// CREAR

.crear-contenido-aux.propuesta{
    .row-problematicas-referidas {
        .resultado{
            background-color: lighten($problematica-color, 42%);
            border: 1px dashed $problematica-color;
            border-radius: 5px;
            padding: 5px;
            margin: 10px 0;
            font-size: rem-calc(13);
            #etiqueta-resultado{
                i.fa-file{
                    color: $problematica-color;
                }
                i.quitar{
                    cursor: pointer;
                }
            }
        }
        .postfix.button{
            border-right: 1px solid #cccccc;
            border-top: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
        }
        input{
            margin-bottom: 0;
            font-size: rem-calc(18);
            font-weight: bold;
            text-align: center;
            padding: 5px;
        }
    }
}

// VER


.vista-cuerpo-cont{
    .referido-problematica-info{
        background-color: lighten($problematica-color, 42%);
        border: 1px dashed $problematica-color;
        border-radius: 5px;
        font-family: 'Open Sans', sans-serif;
        span.icono{
            i.small:before{
                font-size: rem-calc(40);
            }
        }
        p{
            font-size: rem-calc(13);
            line-height: normal;
            text-align: justify;
            margin-bottom: 0;
        }
    }
    .propuesta-voto{
        padding-top: rem-calc(40);
        padding-bottom: rem-calc(40);
        background-color: scale-color($propuesta-color, $lightness: 25%);
        //background-color: $propuesta-color;
        h1, h2, h3, h4, h5, h6{
            color: #FFF;
        }
        .votando-propuesta{
            h1 {
                margin: 0px 0px 20px 0px;
                padding: 0;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 700;
                font-size: rem-calc(36);
            }
            ul {
                margin: 0px;
                li {
                    display: inline-block;
                    vertical-align: middle;
                    list-style-type: none;
                    margin: 0px 0px 0px 10px;
                }
            }
            .panel{
                h6 {
                    color: #000;
                    margin-bottom: 0;
                    line-height: normal;
                }
            }
            .icono-posicion-votada i{
                font-size: rem-calc(65);
                color: #FFF;
            }
        }
        .confirmar-voto{
            .icono-voto-seleccionado{
                font-size: rem-calc(140);
                margin-right: rem-calc(15);
                color: #FFF;
            }
            .panel{
                margin-top: rem-calc(20);
                h6 {
                    color: #000;
                    margin-bottom: 0;
                }
            }
            h6, p {
                color:#FFF;
                margin-bottom: rem-calc(5);
            }
            p {
                font-size: rem-calc(12);
            }
            .opcion-voto-publico{
                margin: rem-calc(10 0);
            }
            ul {
                margin: 0px;
                li {
                    display: inline-block;
                    vertical-align: middle;
                    list-style-type: none;
                    margin: 0px 0px 0px 10px;
                }
            }
        }
    }
    .resultados-propuesta{
        background-color: scale-color($propuesta-color, $lightness: 75%);
    }

}

