.vista-header-cont {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    h1, h2, h3, h4, h5, h6 {
        color: inherit;
        margin: 0;
    }
    h2 {
        font-size: rem-calc(22);
    }
    .logo-,
    .autor-logo-cont {
        padding: rem-calc(15) rem-calc(40);
        img {
            max-width: rem-calc(180);
            max-height: rem-calc(180);
        }
    }
    .logo-autor-cont {
        img {
            border-radius: 100%;
        }
    }
    a, a:active, a:focus, a:hover {
        color: inherit;
    }
}

.plantilla-cont {
    .vista-header-cont {
        padding: rem-calc(30) rem-calc(20);
        .cuerpo-header-cont {
            color: #FFFFFF;
            max-width: $row-width + 12.5;
            margin-left: auto;
            margin-right: auto;
            h1 {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 700;
//                font-size: rem-calc(55);
                line-height: 1.2;
                @media screen and (min-width: 48em) {
                    font-size: rem-calc(68);
                }
            }

        }
        @media screen and (min-width: 48em) {
            padding: 5% rem-calc(15);
        }
    }

    .vista-cuerpo-cont {
        .cuerpo-cont{
            margin-top: rem-calc(15);
            font-family: 'Lora', serif;
            font-weight: 400;
            font-size: rem-calc(16px);
            letter-spacing: -0.3px;

            h1, h2, h3, h4, h5, h6{
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 700;
            }
        }
    }
    .vista-cuerpo-cont.corto {
        margin: 0;
        .panel-cont-corto{
            @include panel();
            background: #FFFFFF;
            color: #383838;
            margin-bottom: 75px;
            @media only screen and (max-width: 40em) {
                margin-bottom: 25px;
            }
            -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.7);
            -moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.7);
            box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.7);
        }
    }
    .datos-cont {
        font-family: "Source Sans Pro",sans-serif;
        //font-weight: 700;
        font-style: normal;
        font-size: rem-calc(18px);
        margin-top: 30px;
        img{
            margin: 0px 5px 0px 25px;
        }
        .usuario-pts{
            margin: 0px 0px 0px 25px;
        }
    }
    .datos-cont.corto {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: rem-calc(14);
        img, span{
            margin: 0 3px;
        }
    }
    .opciones-cont {
        margin-top: 20px ;
        ul.opciones {
            margin: 0px;
            li {
                display: inline-block;
                vertical-align: middle;
                list-style-type: none;
                margin: 0px 0px 0px 10px;
                font-size: rem-calc(14);
                .button.alert{
                    color: #FFF;
                }
            }
        }
    }
    .opciones-cont.cort {
        margin-bottom: 0 ;
        .opciones{
            margin-top: 35px ;
        }
    }
    .titulo-cont {
        position: relative;
        margin-bottom: rem-calc(10);
        &:before {
            position: absolute;
            content: " ";
            display: block;
            min-width: rem-calc(180);
            width: 45%;
            height: rem-calc(1);
            bottom: rem-calc(-15);
            left: 50%;
            right: auto;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            background-color: #FFFFFF;
        }
        &:after {
            position: absolute;
            content: " ";
            display: block;
            width: rem-calc(7);
            height: rem-calc(7);
            bottom: rem-calc(-18);
            left: 50%;
            right: auto;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            background-color: #FFFFFF;
            border-radius: 100%;
        }
    }
    .footer-cont {
        .tags-cont {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 700;
            a {
                font-weight: normal;
            }
        }
        .share {
            border-top: rem-calc(1) solid darken(#ffffff, 10%);
            padding-top: rem-calc(15);
            padding-bottom: rem-calc(15);
        }
    }
}




.vista-cuerpo-cont{
    .resultados{
        .vista-resultados{
            table.grafico{
                border-width: 0;
                margin: 20px auto 0px auto;
                background: 0;
                width: 60%;
                tr:nth-of-type(even) {
                    background: 0;
                }
                p.porcentaje{
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 30px !important;
                    color: #3e3e3e;
                    font-weight: 300;
                    margin-bottom: 17px;
                }
                td.grafico{
                    font-size: 14px;
                    margin-bottom: 50px;
                    padding: 0 0 20px 0;
                }
                .grafico-barra{
                    background-color: #a3dbe3;
                    height: 1em;
                    padding: 0em;
                    margin: 0.625em 0;
                    width: 100%;
                }
                .metro {
                    background: #2daebf;
                    height: 100%;
                    display: block;
                }
            }
        }
    }
    .borde-bt-resultados{
        border-top: 1px solid #3a89c9;
        .row{
            background-color: #FFFFFF !important;
        }
    }
    .bt-ver-resultados{
        border-top: 0;
    }
    .vista-sin-resultados{
        padding: 30px 0px;
    }
}

.comentarios-cont{
    letter-spacing: -0.5px;
    .row{
        background-color: #FFFFFF !important;
    }
    .comentario-header{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        font-size: rem-calc(64);
        margin-top: rem-calc(30);
        margin-bottom: rem-calc(30);
    }
    .bt-comentar-cont{
        margin: 0 0 30px 0;
    }
    .comentario-cont{
        margin-bottom: 30px;
        min-height: 80px;
        .avatar{
            position: absolute;
            left: 0px;
            float: left;
            .user{
                display: block;
                position: relative;
                z-index: 100;
                background: none;
                img{
                    display: block;
                    width: 80px;
                    height: 80px;
                }
            }
            .puntos {
                font-size: rem-calc(18);
            }
        }
        .comentario-wrapper{
            position: relative;
            margin: 0px 0px 0px 90px;
            background: none repeat scroll 0% 0% #FFF;
            border: 2px solid rgba(0, 39, 59, 0.2);
            border-radius: 4px;
            .comenta-usuario, .comentario-confirmar{
                padding: 5px 10px;
                font-size: rem-calc(13);
                background-color: #efefef;
                .fecha{
                    font-size: rem-calc(10);
                    font-style: italic;
                }
                .voto-up, .voto-down{
                    margin-left: 5px;
                }
                .bt-sancionar{
                    color: $sancionar-color;
                }
            }
            .comentario-confirmar{
                .button{
                    margin: 0;
                }
            }
            .comentario-cuerpo{
                color: #3F4549;
                font-size: rem-calc(12);
                border: 0px none;
                padding: 6px 10px 6px;
                margin: 0px;
            }
            textarea.comentario-cuerpo{
                resize: none;
                max-height: 150px;
            }
        }
        .acciones{
            position: relative;
            margin: 0px 0px 0px 98px;
            ul {
                margin: 0px;
                li {
                    display: inline-block;
                    vertical-align: middle;
                    list-style-type: none;
                    font-size: rem-calc(13);
                }
            }
        }
    }
    .respuesta{
        margin-left: 60px;
        border-left: #848484 solid 1px;
        .avatar{
            left: 90px;
            .user{
                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
    .row-sin-comentarios{
        .wrapper-comentarios{
            padding-bottom: 20px;
            border-bottom: 1px dashed #adadad;
            margin-bottom: 50px;
        }
        .bt-focus-comentar{
            margin-top: 15px;
        }
    }
}

.wrapper-comentarios{
    padding-top: 20px;
    margin-top: 10px;
    border-top: 1px dashed #adadad;
    .nadie-comento{
        font-family: 'Open Sans', sans-serif;
        h4, p{
            margin-bottom: 5px;
        }
        p{
            font-size: rem-calc(14);
        }
    }
}
.box-comentar, .box-comentario{
    font-family: "Source Sans Pro",sans-serif;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    .info-user-row{
        height: 50px;
        background-color: #f2f2f2;
        border-bottom: 1px dashed #adadad;
        ul.info{
            padding: 8px 8px 8px 0px;
            margin: 0px;
            li {
                display: inline-block;
                vertical-align: middle;
                list-style-type: none;
                margin: 0px 0px 0px 10px;
            }
        }
    }
}
.box-comentar{
    z-index: 10;
    position: absolute;
    float:left;
    width: 96.5%;
    .redactor-row{
        textarea{
            margin: 0;
            border: 0;
            border-bottom: 1px dashed #adadad;
            resize: none;
            font-size: rem-calc(16);
            min-height: 150px;
        }
    }
    .confirmar-row{
        padding: 5px 5px 0px 0px;
    }
}
.box-comentario{
    margin-bottom: 10px;
    .comentario-row{
        font-size: rem-calc(15);
        padding: 7px;
    }
}

#social-sidebar {
    a { text-decoration: none; }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    left: 0;
    margin-top: -75px; /* (li * a:width) / -2 */
    position: fixed;
    top: 50%;
    z-index: 20;
}

#social-sidebar li:first-child a { border-radius: 0 5px 0 0; }
#social-sidebar li:last-child a { border-radius: 0 0 5px 0; }

#social-sidebar a {
    background: #121212;
    color: #fff;
    display: block;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    position: relative;
    text-align: center;
    width: 50px;
}

#social-sidebar a:hover span {
    left: 130%;
    opacity: 1;
}

#social-sidebar a span {
    border-radius: 3px;
    line-height: 24px;
    left: -100%;
    margin-top: -16px;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    padding: 4px 8px;
    position: absolute;
    -webkit-transition: opacity .3s, left .4s;
    -moz-transition: opacity .3s, left .4s;
    -ms-transition: opacity .3s, left .4s;
    -o-transition: opacity .3s, left .4s;
    transition: opacity .3s, left .4s;
    top: 50%;
    white-space: nowrap;
    z-index: -1;
}

#social-sidebar a span:before {
    content: "";
    display: block;
    height: 8px;
    left: -4px;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 8px;
    z-index: -2;
}

#social-sidebar a[class*="twitter"]:hover,
#social-sidebar a[class*="twitter"] span,
#social-sidebar a[class*="twitter"] span:before { background: #00aced; }

#social-sidebar a[class*="facebook"]:hover,
#social-sidebar a[class*="facebook"] span,
#social-sidebar a[class*="facebook"] span:before { background: #3b5998; }

#social-sidebar a[class*="googleplus"]:hover,
#social-sidebar a[class*="googleplus"] span,
#social-sidebar a[class*="googleplus"] span:before { background: #dd4b39; }

#social-sidebar a[class*="mail"]:hover,
#social-sidebar a[class*="mail"] span,
#social-sidebar a[class*="mail"] span:before { background: #808080; }

ul.social-inline{
    margin: 0px;
    li {
        display: inline-block;
        vertical-align: middle;
        list-style-type: none;

    }
}
