{% extends "master.twig" %}

{% block titulo %}
Virtuagora - ¡Ha ocurrido un error!
{% endblock %}

{% block body %}

<section id="passport">
    <div class="row">
        <div class="medium-8 medium-centered large-6 large-centered columns">
            <div class="panel text-center">
                <i class="fail fa fa-times fa-5x"></i>
                <p class="welcome">¡Algo anduvo mal!</p>
                <p>{{ mensaje }}</p>
                <div class="row">
                    <div class="small-10 small-centered columns text-center">
                        <a href="{{ baseUrl }}" class="button round success small">Ir a la página principal &raquo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
