<div id="footer">
    <section class="row">
        <div class="large-12 columns">
            <article class="large-4 columns footer-links">
                <ul class="no-bullet">
                    <li><a href="#">Página principal</a></li>
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </article>
            <article class="large-4 columns text-center credits">
                <p><a href="https://github.com/augusthur/virtuagora"><i class="fa fa-github-alt fa-fw fa-lg"></i><br>Virtuagora en GitHub</a>
                    <br><br>2015 <i class="fa fa-copyright fa-fw" style="color: #FFF"></i>
                    <br><br>
                    <a href="https://www.facebook.com/guillermo.croppi"><i class="fa fa-facebook-square fa-fw fa-lg"></i></a>Guillermo Croppi ~ Augusto Mathurin <a href="https://twitter.com/augusthur"><i class="fa fa-twitter-square fa-fw fa-lg"></i></a></p>
            </article>
            <article class="large-4 columns footer-share ">
                <p class="text-center">
                    <em class="">¡Seguinos!</em><br><br>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </p>
            </article>
        </div>
    </section>
</div>
