<section id="passport">
    <div class="row">
        <div class="large-12 large-centered columns">
            <p class="welcome"> Entrar en <b class = "logo-font">Virtuagora</b></p>
                <p><i class="success fa fa-smile-o"></i><br />
            Estabamos esperando tu regreso </p>

            <form data-abide action="login" method="POST">

                <div class="row collapse">
                    <div class="small-2 columns">
                        <span class="prefix"><i class="fa fa-envelope"></i></span>
                    </div>
                    <div class="small-10 columns">
                        <input name="email" type="email" placeholder="Direccion de email" required>
                        <small class="error text-center">Campo obligatorio</small>
                    </div>
                </div>
                <div class="row collapse">
                    <div class="small-2 columns ">
                        <span class="prefix"><i class="fa fa-lock"></i></span>
                    </div>
                    <div class="small-10 columns ">
                        <input id="campo-password" name="password" type="password" placeholder="Contraseña">
                        <small class="error text-center">Campo obligatorio</small>
                    </div>
                </div>

                <div class="row">
                    <div class="small-8 small-centered columns ">
                        <input type="submit" class="button expand" value="Iniciar sesión &raquo">
                    </div>
                </div>
            </form>
            <p>Si aun no tiene una cuenta...</p>
            <div class="row">
                <div class="small-8 small-centered columns text-center">
                    <a href="#" class="button secondary round small">Crear nueva cuenta &raquo</a>
                </div>
            </div>

        </div>

    </div>
    <a class="close-reveal-modal">&#215;</a>
    </div>
</section>
