<!DOCTYPE html>
<html>
<head>
    <title>{% block titulo %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/css/app.css" />
    <script src="assets/modernizr/modernizr.js"></script>
</head>
<body class="fondo">
  	<!-- Incluir barra-nav -->
   	{% include "barra-nav.twig" %}
   	<!-- Incluir body -->
    {% block body %}{% endblock %}
    <!-- Incluir footer -->
	{% include "footer.twig" %}

    <!-- Incluir javascripts -->
    <script src="assets/js/jquery/jquery.min.js"></script>
    <script src="assets/js/foundation/foundation.min.js"></script>
    {% block scripts %}{% endblock %}
    <script src="assets/js/app.js"></script>
</body>
</html>
