{% extends "master.twig" %}

{% block titulo %}
Virtuagora - Registro
{% endblock %}

{% block body %}
<section id="expositor">
    <div class="row">
        <div class="medium-8 medium-centered large-6 large-centered columns">
            <h1 class="text-center logo-font">Virtuagora</h1>
        </div>
    </div>
    <div class="expositor show-for-medium-up">
        <ul class="example-orbit-content" data-orbit>
            <li data-orbit-slide="headline-1">
                <div class="text-left panel">
                    <div class="row">
                        <div class="medium-10 medium-centered columns">
                            <div class="medium-3 large-2 columns">
                                <div class="profile-card">
                                    <img src="http://lorempixel.com/128/128/people/1" alt="profile image">
                                </div>
                            </div>
                            <div class="medium-9 large-10 columns">
                                <h2>Marcelo Tinelli <small>dijo:</small></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos animi, nobis illo. Repellendus atque dolorem, officia recusandae autem, laudantium consectetur, neque!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li data-orbit-slide="headline-2">
                <div class="text-left panel">
                    <div class="row">
                        <div class="medium-10 medium-centered columns">
                            <div class="medium-3 large-2 columns">
                                <div class="profile-card">
                                    <img src="http://lorempixel.com/128/128/people/2" alt="profile image">
                                </div>
                            </div>
                            <div class="medium-9 large-10 columns">
                                <h2>Juanita Viale <small>dijo:</small></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos animi, nobis illo. Repellendus atque dolorem, officia recusandae autem, laudantium consectetur, neque!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li data-orbit-slide="headline-3">
                <div class="text-left panel">
                    <div class="row">
                        <div class="medium-10 medium-centered columns">
                            <div class="medium-3 large-2 columns">
                                <div class="profile-card">
                                    <img src="http://lorempixel.com/128/128/people/3" alt="profile image">
                                </div>
                            </div>
                            <div class="medium-9 large-10 columns">
                                <h2>Jose "Pepe" Corral<small> dijo:</small></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos animi, nobis illo. Repellendus atque dolorem, officia recusandae autem, laudantium consectetur, neque!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- Aca viene la sesion de panel -->
<section id="passport">
    <div class="row">
        <div class="medium-8 medium-centered large-6 large-centered columns">
            <div class="panel">
                <p class="welcome"> Participe en <b class = "logo-font">Virtuagora</b></p>
                <p>Involúcrate en la busqueda de mejores politicas para todos. <br />Es gratis y totalmente abierto.</p>
                <form data-abide action="registro" method="POST">
                    <div class="row collapse">
                        <div class="small-2  columns">
                            <span class="prefix"><i class="fa fa-user"></i></span>
                        </div>
                        <div class="small-10 columns">
                            <div class="row collapse">
                                <div class="small-6 columns">
                                    <input name="nombre" type="text" placeholder="Nombre" required>
                                    <small class="error text-center">Campo obligatorio</small>

                                </div>
                                <div class="small-6 columns">
                                    <input name="apellido" type="text" placeholder="Apellido" required>
                                    <small class="error text-center">Campo obligatorio</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row collapse">
                        <div class="small-2 columns">
                            <span class="prefix"><i class="fa fa-envelope"></i></span>
                        </div>
                        <div class="small-10 columns">
                            <input name="email" type="email" placeholder="Direccion de email" required>
                            <small class="error text-center">Campo obligatorio</small>
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns ">
                            <span class="prefix"><i class="fa fa-lock"></i></span>
                        </div>
                        <div class="small-10 columns ">
                            <input id="campo-password-registro" name="password" type="password" placeholder="Contraseña">
                            <small class="error text-center">Campo obligatorio</small>
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns ">
                            <span class="prefix"><i class="fa fa-check-square-o"></i></span>
                        </div>
                        <div class="small-10 columns ">
                            <input type="password" data-equalto="campo-password-registro" name="password2" placeholder="Reingrese la contraseña">
                            <small class="error text-center">Las contraseñas no coinciden</small>
                        </div>
                    </div>

                    <div class="row">
                        <p class="text-centered">Al hacer clic en <b>Registrarse</b>, aceptas las <a href="#">Condiciones</a> y confirmas que leíste nuestra Política de uso de datos, incluido el uso de cookies.</p>
                    </div>
                    <div class="row">
                        <div class="small-8 small-centered columns ">
                            <input type="submit" class="button expand" value="Registrarse &raquo">
                        </div>
                    </div>
                </form>
                <p>Si ya posee una cuenta en Virtuagora...</p>
                <div class="row">
                    <div class="small-8 small-centered columns text-center">
                        <a href="#" class="button secondary round small">Inicie sesión &raquo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{{ baseUrl }}/assets/js/foundation/foundation.abide.js"></script>
<script src="{{ baseUrl }}/assets/js/foundation/foundation.tooltip.js"></script>
<script src="{{ baseUrl }}/assets/js/foundation/foundation.orbit.js"></script>
<script src="{{ baseUrl }}/assets/js/foundation/foundation.alert.js"></script>
{% endblock %}
