{# VARIBLES #}
{% set footer = true %}
{% set barraNav = true %}
{% set notificaciones = true %}

{% extends "master.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block linkhead %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block body %}
<div class="perfil color-userconfig">
    <div class="row header">
        <div class="large-12 columns text-center">
            <img class="img-perfil verificado" src="http://lorempixel.com/164/164/" alt="Profile pic">
            <h2 class="nombre">Guillermo Croppi</h2>
            <hr>
            <ul class="nav">
                <li><i class="fa fa-trophy fa-fw fa-lg"></i> 50 </li>
                <li style="color:#efce18"><i class="fa fa-check fa-fw fa-lg"></i> Verificado</li>
                <li><i class="fa fa-file-o fa-fw fa-lg"></i> XX</li>
                <li><i class="fa fa-comment-o fa-fw fa-lg"></i> XX</li>
            </ul>
            <ul class="nav" style="margin-top: 10px;">
                <li><i class="fa fa-briefcase fa-fw fa-lg"></i> Funcionario</li>
                <li><i class="fa fa-bullhorn fa-fw fa-lg"></i> Jefe</li>
                <li><i class="fa fa-wrench fa-fw fa-lg"></i> Administrador</li>
                <li><i class="fa fa-flag fa-fw fa-lg"></i> Partido de la red</li>
            </ul>
            <div class="row notificacion">
                <div class="large-6 medium-6 large-centered medium-centered columns">
                    <div class="panel advertencia">
                        <i class="fa fa-warning fa-fw"></i> Se mando una cagada gigante
                    </div>
                </div>
            </div>
               <div class="row notificacion">
                <div class="large-6 medium-6 large-centered medium-centered columns">
                    <div class="panel sancionado">
                        <i class="fa fa-warning fa-fw"></i> CUENTA SUSPENDIDA
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="perfil">
    <div class="row contenido">
        <dl class="tabs" role=tablist data-tab>
            <dd class="active"><a href="#acciones">Ultimas acciones</a></dd>
            <dd><a href="#comentarios">Comentarios realizados</a></dd>
        </dl>
    </div>
    <hr>
    <div class="row">
        <div class="large-12 columns">
            <div class="tabs-content">
                <div class="content active" id="acciones">
                    <table class="tabla-notificaciones">
                        <thead>
                            <th style="display:none">Hora</th>
                            <th style="display:none">Accion</th>
                        </thead>
                        <tbody>
                            <tr class="notif-msj">
                                <td>25/12</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam dolore, error earum officiis placeat consequuntur. Tempore id nihil consectetur, neque tempora minima culpa nisi perspiciatis expedita repellendus ratione error quo?</td>
                            </tr><tr class="notif-msj">
                            <td>25/12</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam dolore, error earum officiis placeat consequuntur. Tempore id nihil consectetur, neque tempora minima culpa nisi perspiciatis expedita repellendus ratione error quo?</td>
                            </tr><tr class="notif-msj">
                            <td>25/12</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam dolore, error earum officiis placeat consequuntur. Tempore id nihil consectetur, neque tempora minima culpa nisi perspiciatis expedita repellendus ratione error quo?</td>
                            </tr><tr class="notif-msj">
                            <td>25/12</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam dolore, error earum officiis placeat consequuntur. Tempore id nihil consectetur, neque tempora minima culpa nisi perspiciatis expedita repellendus ratione error quo?</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="content text-center" id="comentarios">
                    <p><i class="fa fa-check fa-fw"></i>
                        <br>* Proximamente *</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts %}
<script>
    $(document).ready(function() {

    });

</script>
{% endblock %}
{# ----------------------------------------------------------- #}

