{# VARIBLES #}
{% set footer = false %}
{% if usuarioValido == true %}
{% set html_class = 'verif-exito-bg' %}
{% else %}
{% set html_class = 'verif-fail-bg' %}
{% endif %}
{% set body_class = 'no-body-bg' %}

{% extends "master.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}
{% if usuarioValido == true %}
Virtuágora - Verificación exitosa
{% else %}
Virtuágora - Verificación inválida
{% endif %}
{% endblock %}
{# ----------------------------------------------------------- #}
{% block linkhead %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block body %}
<div id="login">
    <div id="row-panel" class="row">
        <div class="large-8 large-centered columns">
            <div class="panel">
                <div class="row">
                    <div class="large-8 large-centered columns">
                        <div id="row-arriba">
                            <div id="logo" class="text-center">
                                <b>Virtuágora</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-10 large-centered columns">
                        <div id="row-abajo" class="text-center">
                            {% if usuarioValido == true %}
                            <div class="panel text-center" style="background-color: #EEFFEA; margin-bottom: 20px;">
                                <i class="fa fa-check fa-4x fa-fw" style="color: #61bf26; margin-bottom: 10px;"></i>
                                <h5>Su dirección de email ha sido verificada</h5>
                            </div>
                            <p style="font-size: 13px;">Ya puede comenzar a participar.</p>
                            <a href="{{ urlFor('shwLogin') }}" class="button radius success large"><i class="fa fa-sign-in fa-fw fa-lg"></i>&nbsp;Iniciar sesión en Virtuágora</a>
                            {% else %}
                            <div class="panel text-center" style="background-color: #ffeaea; margin-bottom: 20px;">
                                <i class="fa fa-envelope fa-4x fa-fw" style="color: #BF2626; margin-bottom: 10px;"></i>
                                <h5>Link de validación incorrecto</h5>
                            </div>
                            <p style="font-size: 13px;">El link ingresado es incorrecto. Verifique que el link que hemos enviado a su dirección de correo electrónico es el mismo que ingresó en la barra de direcciones.</p>
                            <p style="font-size: 13px;">Si sigue viendo este mensaje, comuníquese con un administrador.</p>
                            <a href="{{ urlFor('shwIndex') }}" class="button radius">Ir al inicio</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts %}{% endblock %}
{# ----------------------------------------------------------- #}
