@font-face {
	font-family: "Flaticon";
	src: font-url("flaticon.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
}.flaticon-alert9:before {
	content: "\e000";
}
.flaticon-applicattion:before {
	content: "\e001";
}
.flaticon-bookmark50:before {
	content: "\e002";
}
.flaticon-clouds11:before {
	content: "\e003";
}
.flaticon-connected22:before {
	content: "\e004";
}
.flaticon-connection27:before {
	content: "\e005";
}
.flaticon-contract11:before {
	content: "\e006";
}
.flaticon-data2:before {
	content: "\e007";
}
.flaticon-earth213:before {
	content: "\e008";
}
.flaticon-handshake1:before {
	content: "\e009";
}
.flaticon-head21:before {
	content: "\e00a";
}
.flaticon-help21:before {
	content: "\e00b";
}
.flaticon-idea14:before {
	content: "\e00c";
}
.flaticon-information3:before {
	content: "\e00d";
}
.flaticon-inspiration:before {
	content: "\e00e";
}
.flaticon-leader:before {
	content: "\e00f";
}
.flaticon-list4:before {
	content: "\e010";
}
.flaticon-list61:before {
	content: "\e011";
}
.flaticon-man282:before {
	content: "\e012";
}
.flaticon-marketing8:before {
	content: "\e013";
}
.flaticon-month1:before {
	content: "\e014";
}
.flaticon-multiple25:before {
	content: "\e015";
}
.flaticon-news29:before {
	content: "\e016";
}
.flaticon-profile8:before {
	content: "\e017";
}
.flaticon-protest:before {
	content: "\e018";
}
.flaticon-speechbubble6:before {
	content: "\e019";
}
.flaticon-speech55:before {
	content: "\e01a";
}
.flaticon-staff1:before {
	content: "\e01b";
}
.flaticon-three115:before {
	content: "\e01c";
}
.flaticon-users6:before {
	content: "\e01d";
}
.flaticon-website17:before {
	content: "\e01e";
}
.flaticon-windows50:before {
	content: "\e01f";
}
.flaticon-working-out:before {
	content: "\e020";
}
