@charset "UTF-8";
/* Slider */
/* Icons */
@font-face {
  font-family: "slick";
  src: url('../../fonts/slick.woff?1427377551') format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
/* line 57, ../../scss/slick/slick-theme.scss */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
/* line 73, ../../scss/slick/slick-theme.scss */
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
/* line 77, ../../scss/slick/slick-theme.scss */
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
/* line 81, ../../scss/slick/slick-theme.scss */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

/* line 86, ../../scss/slick/slick-theme.scss */
.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 96, ../../scss/slick/slick-theme.scss */
.slick-prev {
  left: -25px;
}
/* line 98, ../../scss/slick/slick-theme.scss */
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
/* line 102, ../../scss/slick/slick-theme.scss */
.slick-prev:before {
  content: "←";
}
/* line 104, ../../scss/slick/slick-theme.scss */
[dir="rtl"] .slick-prev:before {
  content: "→";
}

/* line 110, ../../scss/slick/slick-theme.scss */
.slick-next {
  right: -25px;
}
/* line 112, ../../scss/slick/slick-theme.scss */
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
/* line 116, ../../scss/slick/slick-theme.scss */
.slick-next:before {
  content: "→";
}
/* line 118, ../../scss/slick/slick-theme.scss */
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
/* line 126, ../../scss/slick/slick-theme.scss */
.slick-slider {
  margin-bottom: 30px;
}

/* line 130, ../../scss/slick/slick-theme.scss */
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
/* line 138, ../../scss/slick/slick-theme.scss */
.slick-dots ul {
  margin-left: 0;
}
/* line 141, ../../scss/slick/slick-theme.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
/* line 149, ../../scss/slick/slick-theme.scss */
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
/* line 161, ../../scss/slick/slick-theme.scss */
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
/* line 163, ../../scss/slick/slick-theme.scss */
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
/* line 167, ../../scss/slick/slick-theme.scss */
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 184, ../../scss/slick/slick-theme.scss */
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
