{% extends "contenido/crear-contenido.twig" %}

{# VARIBLES #}
{% set body_class = 'color-propuesta' %}
{% set header_icono = 'fa-file-text-o' %}
{% if modo is not defined %}
{% set header_titulo = 'NUEVA PROPUESTA' %}
{% set url_form = urlFor('runCrearPropues') %}
{% endif %}
{% set type_contenido = 'propuesta' %}

{# ----------------------------------------------------------- #}
{% block titulo %}Crear propuesta - Virtuágora{% endblock %}
{# ----------------------------------------------------------- #}
{% block pre_cuerpo %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block extension_form %}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <span class="enumerador fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-star-o blanco fa-stack-1x"></i>
            </span>
            <div class="descripcion">
                <b>Asocie su propuesta con alguna problematica.</b> Si la propuesta esta relacionado o es la solución asociada a una (o varias) de las problematicas publicadas en esta plataforma, asóciela realizando una busqueda en la siguiente barra: (PROXIMAMENTE)
            </div>
        </div>
    </div>
</div>
{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals_cont %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts_cont %}

{% block scripts_modificar %}{% endblock scripts_modificar %}

{% endblock %}
{# ----------------------------------------------------------- #}

