<form method="POST" action="{{ propuesta.id }}/votar">
	<div class="row">
		<div class="large-12 large-centered columns">
			<div id="posturaInfo">
				<input type="hidden" id="posturaVoto" name="postura" value="">
				<i></i>
				<h6><b></b></h6>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 large-centered columns">
			<div id="intro-comentario" class="text-center">
				<h6><b></b></h6>
				<p></p>
			</div>
		</div>
	</div>
	{% if voto.postura is null %}
	<div class="row">
		<div class="large-12 large-centered columns">
			<div id="cuadro-comentario" class="text-center">
			<div class="switch tiny round">
				<input id="checkbox" name="publico" type="checkbox">
				<label for="checkbox"></label>
				<p id="checkbox-texto" style="font-size: 12px;"><b>Comentario público</b></p>
			</div>
			</div>
		</div>
	</div>
	{% endif %}
	<div class="row">
		<div class="large-12 large-centered columns text-center">
			<div class="cerrar-modal button secondary small radius"><i class="fa fa-times fa-lg fa-fw"></i>&nbsp;Cancelar</div>
			&nbsp;
			<button type="submit" class="button success small radius bt-enviar" value="Enviar"><i class="fa fa-check fa-lg fa-fw"></i><span>&nbsp;Enviar</span></button>
		</div>
	</div>
</form>
