<form method="POST" action="">
    <div class="row">
        <div class="large-12 large-centered columns">
            <div id="posturaInfo">
                <input type="hidden" id="posturaVoto" name="voto" value="">
                <i></i>
                <h6><b></b></h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 large-centered columns">
            <div id="intro-comentario" class="text-center">
                <h6><b>¿Te gustaria dejar algun comentario?</b></h6>
                <p>En caso de no querer dejar un comentario<br />simplemente deja en blanco el cuadro de texto</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 large-centered columns">
            <textarea name="comentario" placeholder="Escriba su comentario aquí (Opcional)" rows=3></textarea>
        </div>
    </div>
    <div class="row">
        <div class="large-12 large-centered columns">
            <div class="clearfix"></div>
            <button type="submit" class="button right tiny" value="Enviar"><i class="fa fa-send-o fa-2x fa-fw"></i><br><span class="etiqueta">Enviar!</span></button>
            <a class="cerrar-modal button secondary left tiny"><i class="fa fa-times fa-2x fa-fw"></i><br><span class="etiqueta">Cerrar</span></a>
        </div>
    </div>
    </div>
</form>

<!--

<section id="passport">
<div class="row">
<div class="large-12 large-centered columns">
<p class="welcome"> Entrar en <b class = "logo-font">Virtuagora</b></p>
<p><i class="success fa fa-smile-o"></i><br />
Estabamos esperando tu regreso </p>
<form action="{{ baseUrl }}/login" method="POST">
<div class="row collapse">
<div class="small-2 columns">
<span class="prefix"><i class="fa fa-envelope"></i></span>
</div>
<div class="small-10 columns">
<input name="email" type="email" placeholder="Direccion de email">
</div>
</div>
<div class="row collapse">
<div class="small-2 columns ">
<span class="prefix"><i class="fa fa-lock"></i></span>
</div>
<div class="small-10 columns ">
<input id="campo-password-login" name="password" type="password" placeholder="Contraseña">
</div>
</div>

<div class="row">
<div class="small-8 small-centered columns ">
<input type="submit" class="button expand" value="Iniciar sesión &raquo;">
</div>
</div>
</form>
<p>Si aun no tiene una cuenta...</p>
<div class="row">
<div class="small-8 small-centered columns text-center">
<a href="#" class="button secondary round small">Crear nueva cuenta &raquo;</a>
</div>
</div>

</div>

</div>
<a class="close-reveal-modal">&#215;</a>
</div>
</section>
-->
