<!-- Comentarios -->
{% if comments == true %}
<hr>
<div class="row">
    <div class="large-6 large-centered columns">
        <a href="#" class="button expand"><i class="fa fa-comments fa-fw fa-lg"></i>&nbsp;Dejar un comentario</a>
    </div>
</div>
{% endif %}
</div>
<div class="extremos final"></div>
</div>
</div>
</section>
