<section id="wide-panel">
    <div class="row">
        <div class="large-10 large-centered columns">
            <div class="extremos">
                <!-- CONTENIDO! -->
                <!-- Titulo -->
                <div class="row">
                    <div class="large-12 large-centered columns">
                        <h2>
                            <a href="{{ url_atras }}"><i class="fa fa-arrow-circle-left fa-border"></i></a>
                            <i class="{{ i_class_titulo }}"></i>&nbsp;<b>{{ titulo }}</b>
                        </h2>
                    </div>
                    <hr>
                </div>
