{# VARIBLES #}
{% set footer = false %}
{% set html_class = 'error-bg' %}
{% set body_class = 'no-body-bg' %}

{% extends "master.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}ERROR{% endblock %}
{# ----------------------------------------------------------- #}
{% block linkhead %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block body %}
<div class="registro usuario row">
	<div class="medium-10 medium-centered columns no-padding-small-only">
		<div class="panel text-center">
			<div class="row">
				<div class="small-12 columns">
					<h2 class="seccion"><i class="fa fa-minus-circle fa-fw" style="color:#bc0e0e;"></i><b>Error</b></h2>
					<div class="descripcion" style="margin-bottom:10px;">{{ mensaje }}</div>
					 <a href="{{ urlFor('shwIndex') }}" class="button negative small radius"><i class="fa fa-home fa-fw"></i> Volver al inicio</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts %}{% endblock %}
{# ----------------------------------------------------------- #}
