<section id="passport">
    <div class="row">
        <div class="large-12 large-centered columns">
            <p class="welcome"><b class = "logo-font">Virtuagora</b></p>
            <p><b>¡Bienvenido de vuelta!</b> Inicie sesión para entrar al portal</p>
            <form action="{{ baseUrl }}/login" method="POST">
                <div class="row collapse">
                    <div class="small-2 columns">
                        <span class="prefix"><i class="fa fa-envelope"></i></span>
                    </div>
                    <div class="small-10 columns">
                        <input name="email" type="email" placeholder="Direccion de email">
                    </div>
                </div>
                <div class="row collapse">
                    <div class="small-2 columns ">
                        <span class="prefix"><i class="fa fa-lock"></i></span>
                    </div>
                    <div class="small-10 columns ">
                        <input id="campo-password-login" name="password" type="password" placeholder="Contraseña">
                    </div>
                </div>

                <div class="row">
                    <div class="small-6 small-centered columns ">
                        <input type="submit" class="button expand radius" value="Iniciar sesión &raquo;">
                    </div>
                </div>
            </form>
            <p>Si aun no posee una cuenta en Virtuagora...</p>
            <div class="row">
                <div class="small-8 small-centered columns text-center">
                    <a href="{{ urlFor('shwIndex') }}" class="button secondary radius small">Crear nueva cuenta &raquo;</a>
                </div>
            </div>

        </div>

    </div>
    <a class="close-reveal-modal">&#215;</a>
    </div>
</section>
