{# VARIBLES #}
{% set footer = false %}
{% set barraNav = false %}
{% set notificaciones = false %}
{% set html_class = 'login-bg' %}
{% set body_class = 'no-body-bg' %}

{% extends "master.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}Virtuagora - Login{% endblock %}
{# ----------------------------------------------------------- #}
{% block linkhead %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block body %}
<div id="login">
    <div id="row-panel" class="row">
        <div class="large-8 large-centered columns">
            <div class="panel">
                <div class="row">
                    <div class="large-8 large-centered columns">
                        <div id="row-arriba">
                            <div id="logo" class="text-center">
                                <b>Virtu치gora</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-8 large-centered columns">
                        <div id="row-abajo">
                            <form action="{{ urlFor('runLogin') }}" method="POST">
                                <div class="row collapse">
                                    <div class="large-12 columns">
                                        <input name="email" type="email" placeholder="Su direcci칩n de email..." required>
                                    </div>
                                </div>
                                <div class="row collapse">
                                    <div class="large-12 columns">
                                        <input id="campo-password" name="password" type="password" required placeholder="Su contrase침a...">
                                    </div>
                                </div>
                                <div class="row collapse">
                                    <div class="large-12 columns text-center">
                                        <button class="button radius large expand"><i class="fa fa-sign-in fa-fw fa-lg"></i>&nbsp;Iniciar sesi칩n</button>
                                        <p id="reg-cond">Si aun no posee una cuenta en Virtuagora...</p>
                                        <a href="{{urlFor('shwIndex')}}" class="button secondary radius small"><i class="fa fa-user-plus fa-lg fa-fw"></i>&nbsp;Crear una cuenta &raquo;</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts %}{% endblock %}
{# ----------------------------------------------------------- #}
