{# VARIBLES #}
{% set footer = false %}
{% set barraNav = false %}
{% set html_class = 'login-bg' %}
{% set body_class = 'no-body-bg' %}

{% extends "master.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}Virtuagora - Login{% endblock %}
{# ----------------------------------------------------------- #}
{% block linkhead %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block body %}
<div id="login">
    <div id="row-panel" class="row">
        <div class="large-8 large-centered columns">
            <div class="panel">
                <div class="row">
                    <div class="large-8 large-centered columns">
                        <div id="row-arriba">
                            <div id="logo" class="text-center">
                                <b>Virtuágora</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-8 large-centered columns">
                        <div id="row-abajo">
                            <form data-abide action="{{ urlFor('runLogin') }}" method="POST">
                                <div class="row collapse">
                                    <div class="large-12 columns">
                                        <input name="email" type="email" placeholder="Su dirección de email..." required pattern="email">
                                        <small class="error text-center">Obligatorio. Debe ser una dirección bien formada</small>
                                    </div>
                                </div>
                                <div class="row collapse">
                                    <div class="large-12 columns">
                                        <input id="campo-password" name="password" type="password" required placeholder="Su contraseña...">
                                        <small class="error text-center">Obligatorio</small>
                                    </div>
                                </div>
                                <div class="row collapse">
                                    <div class="large-12 columns text-center">
                                        <button class="button radius large expand"><i class="fa fa-sign-in fa-fw fa-lg"></i>&nbsp;Iniciar sesión</button>
                                        <p id="reg-cond">Si aun no posee una cuenta en Virtuagora...</p>
                                        <a href="{{urlFor('shwIndex')}}" class="button secondary radius small"><i class="fa fa-user-plus fa-lg fa-fw"></i>&nbsp;Crear una cuenta &raquo;</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts %}
<script src="{{ baseUrl }}/assets/js/foundation/foundation.abide.js"></script>
<script>
    $(document).foundation({
        abide : {
            patterns: {
                //Email Validation as per RFC2822 standards.
                email: /[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/
            }
        }
    });
</script>
{% endblock %}
{# ----------------------------------------------------------- #}
