<div id="footer">
    <section class="row collapse">
            <article class="small-12 columns text-center credits">
               <ul class="list">
                    <li><a href="{{urlFor('shwIndex')}}">Inicio</a></li>
                    <li><a href="{{urlFor('shwTos')}}">Términos y condiciones</a></li>
                    <li><a href="#">Soporte</a></li>
                </ul>
                <p>Powered by <a href="http://www.virtuagora.org">Virtuagora</a></p>
                <div class="footer-links">
                </div>
            </article>
    </section>
</div>
