<div id="footer">
    <section class="row collapse">
            <article class="medium-4 columns show-for-medium-up footer-links">
                <ul class="no-bullet">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Contenidos</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </article>
            <article class="small-12 medium-4 columns text-center credits">
                <p>Powered by<br><a href="https://github.com/augusthur/virtuagora"><i class="fa fa-github-alt fa-fw"></i> Virtuagora</a></p>
                   <p>
                    <a href="https://www.facebook.com/guillermo.croppi"><i class="fa fa-facebook-square fa-fw fa-lg"></i></a>Guillermo Croppi ~ Augusto Mathurin <a href="https://twitter.com/augusthur"><i class="fa fa-twitter-square fa-fw fa-lg"></i></a></p>
            </article>
            <article class="medium-4 columns show-for-medium-up footer-share ">
                <p class="text-center">
                    <em class="">¡Seguinos!</em><br><br>
                    <a href="https://www.facebook.com/virtuagora"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/virtuagora"><i class="fa fa-twitter"></i></a>
                </p>
            </article>
    </section>
</div>
