/* Barra Navegacion */

#barra-nav {
    .logo {
        font-size: remcalc(18);
    }
    .top-bar-section .dropdown li .button {
        //line-height: $topbar-button-top;
        //padding: $topbar-link-padding;
    }
    .top-bar-section img {
        //border: 1px solid #FFFFFF;
        margin-left: $topbar-link-padding;
        border-left: $topbar-divider-border-bottom;
        border-right: $topbar-divider-border-bottom;
        height: $topbar-height;
        width: auto;
        vertical-align: top;
    }
    .top-bar .name h1 i {
        vertical-align: middle;
    }
}

/* Expositor en vista de login */

#expositor {
    padding: 20px 0px 0px;
    font-size: rem-calc(60);
    margin: auto;
    width: 100%;
    .panel {
        background: #085A78;
    }
    p {
        font-size: rem-calc(13);
        color: #FFFFFF;
    }
    h1 {
        padding: 20px 0px 20px;
        font-size: rem-calc(60);
        margin: auto;
    }
    h2 {
        color: #FFFFFF;
        small {
            color: #bebebe;
        }
    }
    .profile-card img {
        border-radius: 5%;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    }
}

#passport {
    .panel {
        background: #FFFFFF;
        border: 1px solid #ccc;
        padding: rem-calc(35);
        margin-top: 30px;
        margin-bottom: 30px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
    }
    .welcome {
        font-size: rem-calc(26);
        text-align: center;
        margin-left: 0;
    }
    form input, form span {
        height: rem-calc(50);
        font-size: rem-calc(17);
    }
    i {
        font-size: rem-calc(30);
        line-height: rem-calc(50);
        color: $i-default-color;
    }
    i.success {
        font-size: rem-calc(80);
        color: $i-success-color;
        line-height: rem-calc(20);
        padding: 10px 0px 40px;
    }
    i.fail {
        font-size: rem-calc(80);
        color: $i-fail-color;
        line-height: rem-calc(20);
        padding: 10px 0px 40px;
    }
    p {
        font-size: rem-calc(14);
        text-align: center;
        font-weight: 200;
    }
    .alert-box{
        padding-top: rem-calc(6);
        padding-bottom: rem-calc(6);
        margin-bottom: rem-calc(14);
    }
    .mailShowcase {
        @include icon-bar();
        a.item {
            padding: 10px 10px;
        }
    }
}

footer {
    .panel{
        background: #333333;
        p {
            color: #FFFFFF;
        }
        a {
            color: #24B1E0;
        }
    }
}

#wide-panel {
    .extremos {
        background: #FFFFFF;
        border-left: 1px solid #dbdbdb;
        border-right: 1px solid #dbdbdb;
        padding: 10px 20px;
    }
    .final {
        border-bottom: 1px solid #dbdbdb;
    }
    .panel-rta-organismo{
        @include panel();
        background: #FFFFFF;
        padding: 5px 10px;
    }
    .org-descripcion p {
        font-size: rem-calc(11);
        color: #6c6c6c;
    }
    .opciones{
        .button.tiny {
            margin: 0;
            padding: rem-calc(6) rem-calc(18);
        }
    }

}

#alta-contenido {
    input[name="titulo"] {
        font-size: rem-calc(17);
        height: rem-calc(40);
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }
    input[name="tags"], input[name="problematicas"] {
        font-size: rem-calc(12);
        height: rem-calc(30);
        font-weight: bold;
    }
}

#vista-contenido {
    .autor img {
        border-radius: 6px;
        border: 1px solid #8e97bf;
        margin-right: 6px;
        width: 50px;
        height: auto;
    }
    .vcard {
        width: 100%;
        i t{
            width: 28px;
            text-align: center;
        }
        .puntos i {
            color: #eaa70f;
        }
    }
    .texto p {
        font-size: rem-calc(14);
    }

    #propuesta-resultado {
        .barchart {
            background-color: #a3dbe3;
            height: 1em;
            padding: 0em;
            margin: 0.625em 0;
            width: 100%; }

        .barchart .meter {
            background: #2daebf;
            height: 100%;
            display: block; }

        table.chart {
            width: 100%;
            border-width: 0;
            margin: 5px 0; }

        table tr.even, table tr.alt, table tr:nth-of-type(even) {
            background: #FFF; }

        td.chart {
            font-size: 14px;
            margin-bottom: 50px;
            padding: 0 0 20px 0; }

        p.percentage {
            font-size: 30px !important;
            color: #6f6f6f;
            font-weight: 300;
            margin-bottom: 17px;
        }
    }
}

#publicarPostura {
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: .2rem;
    }
    .a-favor {
        @include panel();
        background: #C8EDB5;
        vertical-align: middle;
        padding: rem-calc(10);
    }
    .neutro {
        @include panel();
        vertical-align: middle;
        padding: rem-calc(10);
    }
    .en-contra {
        @include panel();
        background: #edb5b5;
        vertical-align: middle;
        padding: rem-calc(10);
    }
    #intro-comentario {
        h6 {
            vertical-align: top;
        }
        p {
            font-size: rem-calc(11);
            color: #797979;
        }
    }
    #cuadro-comentario {
        textarea {
            font-size: rem-calc(12);
            margin-bottom: rem-calc(4);
        }
        label {
            font-size: rem-calc(11);
            color: #797979;
        }
    }
    .etiqueta {
        font-size: rem-calc(12);
        font-weight: bold;
    }
}
