body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F6F6F6;
    padding: 0px;
    margin:0;
}

.logo-font {
    font-family: 'Orbitron', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}
