$problematica-color: #DA7C37;
$propuesta-color: #4688B9;
$documento-color: #5D46B9;
$novedad-color: #B94646;
$evento-color: #46B988;
$partido-color: #84a240;
$organismo-color: #7E4F32;

$config-color: #848484;
$userconfig-color: #3D486C;
$sancionar-color: #ce1a1a;
$advertencia-color: #FFA32A;

$facebook-color: #3b5998;
$twitter-color: #00aced;
$googleplus-color: #dd4b39;
$mail-color: #808080;




