$problematica-color: #D79759;
$propuesta-color: #4F86AE;
$documento-color: #7468A6;
$novedad-color: #A95050;
$evento-color: #64AB80;
$partido-color: #84a240;
$organismo-color: #7E4F32;

$config-color: #848484;
$userconfig-color: #3D486C;
$sancionar-color: #ce1a1a;
$advertencia-color: #e08d1f;

$facebook-color: #3b5998;
$twitter-color: #00aced;
$googleplus-color: #dd4b39;
$mail-color: #808080;




