{% extends "contenido/crear-contenido.twig" %}

{# VARIBLES #}
{% set body_class = 'color-problematica' %}
{% set header_icono = 'fa-bullhorn' %}
{% if modo is not defined %}
{% set header_titulo = 'NUEVA PROBLEMATICA' %}
{% set url_form = urlFor('runCrearProblem') %}
{% endif %}
{% set type_contenido = 'problematica' %}
{% set url_redirigir = urlFor('shwPortal') %}

{# ----------------------------------------------------------- #}
{% block titulo %}Crear problemática - Virtuágora{% endblock %}
{# ----------------------------------------------------------- #}
{% block pre_cuerpo %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block extension_form %}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <span class="enumerador fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-star-o blanco fa-stack-1x"></i>
            </span>
            <div class="descripcion text-justify">
                <b>Subir una o varias imagenes.</b> Utilice la herramienta si quiere publicar imagenes asociadas a su problemática. (PROXIMAMENTE)
            </div>
        </div>
    </div>
</div>
   <div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <span class="enumerador fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-star-o blanco fa-stack-1x"></i>
            </span>
            <div class="descripcion text-justify">
                <b>Asociar una ubicacion geográfica.</b> Si quiere dar una ubicacion específica asociada con su problematica, por favor, utilice el siguiente mapa y marque la ubicación. (PROXIMAMENTE)
            </div>
        </div>
    </div>
</div>
{% endblock %}
{# ----------------------------------------------------------- #}
{% block content_modals %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block content_scripts %}

{% block scripts_modificar %}{% endblock scripts_modificar %}

{% endblock %}
{# ----------------------------------------------------------- #}


