<form method="POST" action="{{ problematica.id }}/votar">
	<div class="row">
		<div class="large-12 large-centered columns">
			<div id="posturaInfo">
				<input type="hidden" id="postura" name="postura" value="">
				<i></i>
				<h6><b></b></h6>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 large-centered columns">
			<div id="intro-comentario" class="text-center">
				<h6><b>¿Estas seguro que este es tu voto?</b></h6>
				<p>Podras cambiarlo luego, pero a cambio de<i class="fa fa-star fa-fw fa-lg"></i><span style="color: red;"><b>-20</b></span> puntos</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 large-centered columns text-center">
			<div class="cerrar-modal button secondary small radius"><i class="fa fa-times fa-lg fa-fw"></i>&nbsp;Cancelar</div>
			&nbsp;
			<button type="submit" class="bt-enviar button success small radius" value="Enviar"><i class="fa fa-check fa-lg fa-fw"></i><span>&nbsp;Enviar</span></button>
		</div>
	</div>
</form>
