{% extends "master.twig" %}

{% block titulo %}
Virtuagora - Registro
{% endblock %}

{% block body %}
<!-- Aca viene la sesion de panel -->
<section id="passport">
    <div class="row">
        <div class="medium-8 medium-centered large-6 large-centered columns">
            <div class="panel">
                <p class="welcome"> Bienvenido a <b class = "logo-font">Virtuagora</b></p>
                <p>Involúcrese en la busqueda de mejores politicas para todos. <br />Es <b>gratis</b> y totalmente abierto.</p>
                <form data-abide action="registro" method="POST">
                    <div class="row collapse">
                        <div class="small-2  columns">
                            <span class="prefix"><i class="fa fa-user"></i></span>
                        </div>
                        <div class="small-10 columns">
                            <div class="row collapse">
                                <div class="small-6 columns">
                                    <input name="nombre" type="text" placeholder="Nombre" required pattern="nombre">
                                    <small class="error text-center">Obligatorio. Como máximo se aceptá hasta 2 nombres</small>

                                </div>
                                <div class="small-6 columns">
                                    <input name="apellido" type="text" placeholder="Apellido" required pattern="apellido">
                                    <small class="error text-center">Obligatorio. Como máximo se aceptá hasta 1 apellido</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row collapse">
                        <div class="small-2 columns">
                            <span class="prefix"><i class="fa fa-envelope"></i></span>
                        </div>
                        <div class="small-10 columns">
                            <input name="email" type="email" placeholder="Direccion de email" required pattern="email">
                            <small class="error text-center">Ingrese un mail bien formado. Ej: email@correo.com</small>
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns ">
                            <span class="prefix"><i class="fa fa-lock"></i></span>
                        </div>
                        <div class="small-10 columns ">
                            <input id="campo-password-registro" name="password" type="password" placeholder="Contraseña">
                            <small class="error text-center">Obligatorio, de hasta 8 letras</small>
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns ">
                            <span class="prefix"><i class="fa fa-check-square-o"></i></span>
                        </div>
                        <div class="small-10 columns ">
                            <input type="password" data-equalto="campo-password-registro" name="password2" placeholder="Reingrese la contraseña">
                            <small class="error text-center">Las contraseñas no coinciden</small>
                        </div>
                    </div>

                    <div class="row">
                        <p class="text-centered">Al hacer clic en <b>Registrarse</b>, usted acepta las <a href="#">Condiciones de uso</a> y confirma que ha leído nuestra Política de uso de datos, incluido el uso de cookies.</p>
                    </div>
                    <div class="row">
                        <div class="small-8 small-centered columns ">
                            <input type="submit" class="button success expand radius" value="Registrarse &raquo">
                        </div>
                    </div>
                </form>
                <p>Si ya posee una cuenta en Virtuagora...</p>
                <div class="row">
                    <div class="small-8 small-centered columns text-center">
                        <a href="{{ urlFor('shwLogin') }}" class="button radius small">Inicie sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{{ baseUrl }}/assets/js/foundation/foundation.abide.js"></script>
<script src="{{ baseUrl }}/assets/js/foundation/foundation.orbit.js"></script>
{% endblock %}
