{% extends "master.twig" %}

{% block titulo %}
Virtuagora - ¡Registro exitoso!
{% endblock %}

{% block body %}
<p></p>
<section id="passport">
    <div class="row">
        <div class="medium-8 medium-centered large-6 large-centered columns">
            <div class="panel text-center">
                <i class="success fa fa-envelope-o"></i>
                <p class="welcome">¡Gracias por registrarse!<br /> Solo falta un paso...</p>
                <p>No se olvide de que la dirección de email <b>{{ email }}</b> es efectívamente suyo.<br />
                    Para eso, ingrese a su email y siga las instrucciones que le enviamos a su dirección.</p>
                <p><b>Una vez hecho este último paso, ya estará listo para comenzar a participar</b></p>
                <div class="row">
                    <div class="small-12 small-centered columns text-center">
                        <div class="mailShowcase 4-up">
                            <a href="http://www.outlook.com/" class="item">
                                <i class="fa fa-windows"></i>
                                <label>Outlook</label>
                            </a>
                            <a href="http://www.gmail.com/" class="item">
                                <i class="fa fa-google"></i>
                                <label>Gmail</label>
                            </a>
                            <a href="http://www.yahoo.com/" class="item">
                                <i class="fa fa-yahoo"></i>
                                <label>Yahoo</label>
                            </a>
                            <a href="{{ urlFor('shwIndex') }}" class="item">
                                <i class="fa fa-reply"></i>
                                <label>Volver atrás</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
