{% extends "master.twig" %}

{% block titulo %}
{% if usuarioValido == true %}
Virtuagora - Correo verificado
{% else %}
Virtuagora - Verificación incorrecta
{% endif %}
{% endblock %}

{% block body %}

<section id="passport">
    <div class="row">
        <div class="medium-8 medium-centered large-6 large-centered columns">
            <div class="panel text-center">
                {% if usuarioValido == true %}
                <i class="success fa fa-envelope-o fa-5x"></i>
                <p class="welcome">Tu dirección de email ha sido verificada<br />
                <p>Ya puede comenzar a participar en el portal.</p>
                <div class="row">
                    <div class="small-10 small-centered columns text-center">
                        <a href="{{ urlFor('shwLogin') }}" class="button radius success small">Iniciar sesión en Virtuágora &raquo</a>
                    </div>
                </div>
                {% else %}
                <i class="fail fa fa-question-circle fa-5x"></i>
                <p class="welcome">Link de validación incorrecto</p>
                <p>El link ingresado es incorrecto. Verifique que el link que hemos enviado a su dirección de correo electrónico es el mismo que ingresó en la barra de direcciones.</p> <p>Si sigue viendo este mensaje, comuníquese con un administrador.</p>
                <div class="row">
                    <div class="small-10 small-centered columns text-center">
                        <a href="{{ urlFor('shwIndex') }}" class="button radius success small">Volver a Virtuágora &raquo</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
