<div id="afiliarse" class="reveal-modal remove-whitespace small" data-reveal>
	<form id="form-afiliarse" method="POST">
		<div class="row">
			<div class="large-12 columns text-center ">
				<div class="large-12 large-centered columns text-center">
					<img id="img-p-afiliar">
					<p></p>
				</div>
				<div class="large-12 columns text-center">
					<div id="mensaje-afiliar">

					</div>
				</div>
			</div>
		</div>
		<p></p>
		<div class="row">
			<div class="large-6 large-centered columns">
				<input id="valor-p" name="idPar" hidden>
				<button type="submit" id="bt-afiliarse" class="button small success expand radius">Afiliarse</a>
			</div>
			<div class="large-4 large-centered columns">
				<button id="bt-cancelar" class="button secondary tiny expand radius">Cancelar</a>
			</div>
		</div>
		</div>
	</form>
</div>
