<div id="modal-unirse" class="reveal-modal remove-whitespace small" data-reveal>
	<div class="row">
		<div class="large-12 columns text-center ">
			<div class="large-4 columns text-center">
				<img id="img-p">
				<p></p>
			</div>
			<div class="large-8 columns text-center" style="margin-top: 15px;">
				<div id="mensaje-unirse">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<form id="form-unirse" method="POST" style="margin:0;">
				<input id="valor-p" name="idPar" hidden>
				<button type="submit" id="bt-confirmar" class="button small success expand radius">Afiliarse</a>
			</form>
		</div>
		<div class="large-6 columns">
			<a id="bt-cancelar" class="button secondary small expand radius" sty>Cancelar</a>
		</div>
	</div>
</div>
