
{% extends "portal/gestion.twig" %}

{% set titulo = '<i class="fa fa-users fa-fw"></i> Administrar grupo' %}
{# ----------------------------------------------------------- #}
{% block opciones %}
<li class='active'><a href="{{ urlFor('shwCrearPartido') }}">Crear grupo político</a></li>
{% endblock %}
{# ----------------------------------------------------------- #}
{% block titulo %}Crear grupo político{% endblock %}
{# ----------------------------------------------------------- #}
{% block gestion %}
<h4>Nuevo grupo político</h4>
<h6 class="subheader">Crear nuevo grupo</h6>
<hr>
<div class="row collapse">
	<div class="medium-6 columns small-only-text-center">
		<h6 class="subheader">Cargar imagen de perfil</h6>
		<div class="descripcion">Nota: Usted podra subir una imagen de perfil luego de haber creado el grupo político.</div>
		<div class="button disabled tiny radius"><i class="fa fa-upload fa-fw fa-lg"></i> Subir imagen</div>
	</div>
	<div class="medium-6 columns text-center">
		<img src="{{ baseUrl() }}/assets/img/anonOrganismo.png" alt="Aux img" class="img-perfil size-160">
	</div>
</div>
<hr>
<form action="{{ urlFor('runCrearPartido') }}" method="POST">
	<h6 class="subheader">Nombre del grupo político</h6>
	<input type="text" name="nombre">
	<hr>
	<div class="row collapse">
		<div class="medium-6 columns">
			<h6 class="subheader">Acrónimo</h6>
		</div>
		<div class="medium-6 columns"><input type="text" name="acronimo" placeholder="2 a 8 caracteres"></div>
	</div>
	<hr>
	<h6 class="subheader">Descripción del grupo político</h6>
	<textarea rows=2 name="descripcion" placeholder="Escriba aquí la descripcion de su partido politico"></textarea>
	<hr>
	<div class="row collapse">
		<div class="medium-6 columns">
			<h6 class="subheader">Fecha fundación</h6>
		</div>
		<div class="medium-6 columns"><input type="date" name="fecha"></div>
	</div>
	<hr>
	<div class="row collapse">
		<div class="medium-6 columns">
			<h6 class="subheader">Fundador histórico</h6>
		</div>
		<div class="medium-6 columns"><input type="text" name="fundador" placeholder="Nombre y Apellido"></div>
	</div>
	<hr>
	<div class="row collapse">
		<div class="medium-6 columns">
			<h6 class="subheader">Pagina Web</h6>
		</div>
		<div class="medium-6 columns"><input type="text" name="url" placeholder="Ej: http://www.google.com"></div>
	</div>
	<hr>
	<div class="row collapse">
		<div class="medium-6 columns">
			<h6 class="subheader">Email</h6>
		</div>
		<div class="medium-6 columns"><input type="email" name="email"></div>
	</div>
	<hr>
	<div class="row collapse">
		<div class="medium-6 columns">
			<h6 class="subheader">Telefono</h6>
		</div>
		<div class="medium-6 columns"><input type="text" name="telefono"></div>
	</div>
	<hr>
	<div class="small-text-center large-text-right">
		<button class="button success radius"><i class="fa fa-plus fa-fw fa-lg"></i><i class="fa fa-check fa-fw fa-lg"></i> Crear nuevo grupo político</button>
	</div>
</form>
{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts %}
<script src="{{ baseUrl() }}/assets/js/autosize/autosize.min.js"></script>
<script type="text/javascript">
	autosize($("textarea[name='descripcion']"));
</script>
{% endblock %}
{# ----------------------------------------------------------- #}
