{# VARIBLES #}

{% extends "partido/ver-administracion.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}Virtuagora - Eliminar partido{% endblock %}
{# ----------------------------------------------------------- #}
{% set intro_titulo = 'Eliminar partido' %}
{% set partido_nombre = partido.nombre %}
{% set partido_id = partido.id %}
{# ----------------------------------------------------------- #}
{% block configuracion %}
<div class="eliminar-partido">
    <div class="row">
        <div class="panel large-8 large-centered columns text-center">
            <h3><i class="fa fa-warning fa-fw"></i> <b>ATENCIÓN</b></h3>
            Sea consciente de lo que está a punto de hacer...
        </div>
        <div class="descripcion large-12 columns text-center">
            Usted esta a punto de eliminar el partido
            <div><i>{{ partido.nombre}}</i></div>
            <br>
            <h4><b>¿Está seguro de lo que desea hacer?</b></h4>
        </div>
        <div class="large-12 columns text-center">
            <form action="{{ urlFor('runElimiPartido',{'idPar': partido.id}) }}" method="POST">
                <button class="bt-segunda-conf button large alert radius"><i class="fa fa-trash-o fa-fw fa-lg"></i> Si, confirmo la eliminación</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts_cont %}{% endblock %}
{# ----------------------------------------------------------- #}
