
.barra-nav{
    background: none repeat scroll 0% 0% #FFF;
    border-bottom: 1px solid #CACACA;
    display: block;
    padding: 10px;
    height: 46px;
    top: 0px;
    z-index: 10000;

    ul.list {
        li {
            font-size: rem-calc(13);
            letter-spacing: -0.2px;
            a.bt-logout{
                color: $sancionar-color;
            }
            a{
                color: #000000;
            }

            .notificaciones{
                position: relative;
                i{
                    cursor:pointer;
                    float: left;
                }
                .contador-on{
                    position: absolute;
                    width: 15px;
                    left: 20px;
                    top: -10px;
                    line-height: 15px;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    background-color: $sancionar-color;
                    color: white;
                    text-align: center;
                    font-size: rem-calc(10);

                }
            }
            i.bt {
                font-size: rem-calc(28);
            }
        }
    }
}
