.color-problematica{background-color: $problematica-color !important;}
.color-propuesta{background-color: $propuesta-color !important;}
.color-documento{background-color: $documento-color !important;}
.color-anuncio{background-color: $anuncio-color !important;}
.color-evento{background-color: $evento-color !important;}
.color-partido{background-color: $partido-color !important;}
.color-config{background-color: $config-color !important;}
