.modal-sancionar{
    .panel.titulo{
        font-size: rem-calc(33);
        letter-spacing: -1.5px;
        background-color: #FFFFFF;
        border-radius: 7px;
        color: #B61212;
    }
    letter-spacing: -0.3px;
    .tabs{
        width: 100%;
        max-width: 100%;
        a {
            padding: 10px 13px;
        }
        dd.active a{
            background: #f4cf7d;
        }
    }

    .tabs-content{
        margin-bottom: 0;
    }
}
