
.eliminar-modal{
    p, ul li{
        letter-spacing: -0.2px;
     font-size: rem-calc(13);
    }
    ul li{
        line-height: normal;
        margin: 10px;
    }
    .fa-li{
        top: rem-calc(4);
    }
    p{
        margin-bottom: 10px;
    }
    .panel.titulo{
        font-size: rem-calc(33);
        background-color: #FFFFFF;
        border-radius: 7px;
        color: #B61212;
    }
    .bt-cancelar-eliminar{
        margin-bottom: 15px
    }
}
