.tabla-notificaciones{
    letter-spacing: -0.2px;
    border: 0;
    background: 0;
    margin: 0;
    width: 100%;
	td{font-size: rem-calc(13);}
    .sin-notificaciones td{
            border: 0;
            font-style: italic;
    }
    th {padding: 6px; font-size: rem-calc(13);}
    thead, tbody, tr:nth-of-type(even) {
        background: 0;
    }
    tr.notif-msj td {
        border-bottom: 1px dashed #C0C0C0;
        padding: 6px;
    }
    tr.notif-msj:hover{
        background-color: #fcf6d9;
    }
    tr:last-child td{
        border: 0;
	}
}
