{# VARIBLES #}

{% set opcion_activa = 3 %}
{% extends "usuario/gestion.twig" %}

{# ----------------------------------------------------------- #}
{% block titulo %}Eliminar cuenta{% endblock %}
{# ----------------------------------------------------------- #}
{% block gestion %}
<h4>Datos personales</h4>
<h6 class="subheader">Eliminar cuenta</h6>
<hr>
<div class="panel text-center" style="background-color:#9d2727; border: 0;">
	<h4 style="color:#FFF"><i class="fa fa-warning fa-fw"></i> ATENCIÓN</h4>
	<div class="descripcion" style="color:#FFF">
		Sea consciente de su acción<br>
		Usted esta a punto de eliminar su cuenta<br>
		¿Está seguro de lo que desea hacer?
	</div>
</div>
<hr>
<form action="{{ urlFor('runElimiUsuario') }}" method="POST">
	<div class="row collapse">
		<div class="medium-6 columns">
			<h6 class="subheader">Si esta de acuerdo, ingrese su contraseña</h6>
		</div>
		<div class="medium-6 columns">
			<input type="password" name="password">
		</div>
	</div>
	<hr>
	<div class="small-only-text-center text-right">
	<button class="button small alert radius"><i class="fa fa-trash-o fa-fw fa-lg"></i> Eliminar cuenta</button>
	</div>
</form>
{% endblock %}
{# ----------------------------------------------------------- #}
{% block modals %}{% endblock %}
{# ----------------------------------------------------------- #}
{% block scripts_gestion %}{% endblock %}
{# ----------------------------------------------------------- #}
